@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  color-scheme: light only;
}

:root {
  color-scheme: light only;
}

html {
  color-scheme: light only;
}

body {
  color: #1a1a1a;
  background: #fff;
}
